<!DOCTYPE html>
{%extends 'testapp/base.html'%}
{%block body-block%}
{%load staticfiles%}

</section>
  
<section id="regions">
 <div class="container">
  <div class="row">
   <div class="col-sm-12 region_main">
    <div class="col-sm-8">
     <div class="regions_2">
      <h1 class="text-center">States</h1>
      <div class="stories_2">
      <div class="story_image">
       <div><a href="#"><img src="{%static "img/51.jpg" %}"  width="100%"></a></div>
       <div class="story_heading"><h5><a href="#">Nulla quis sem at nibh elementum imperdiet.</a></h5></div>
      </div>
    </div>
     </div>
     <ul>
      <li><a href="#">Lorem ipsum dolor sit amet? </a></li>
      <li><a href="#">Consectetur adipiscing elit. Integer nec odio</a></li>
      <li><a href="#">Duis sagittis ipsum. Praesent mauris. Fusce nec tellus</a></li>
      <li class="border_none_1 b1"><a href="#">Sed augue semper porta Mauris massa Vestibulum</a></li>
     </ul>
     </div>
    <div class="col-sm-4 clearfix">
      <div class="regions_new_right clearfix">
        <div class="regions_image">
        <a href="#"><img src="{%static "img/126.jpg" %}" width="100%"></a>
        <a href="#"><h5 class="heading_1">Outdoor Trending</h5></a>
        <ul>
      <li class="border_bottom_1"><a href="#">Consectetur adipiscing elit integer nec</a></li>
      <li class="border_bottom_1"><a href="#">Fusce nec tellus sed augue semper porta.</a></li>
      <li class="border_bottom_1"><a href="#">Torquent per conubia nostra, per inceptos</a></li>
      <li class="border_bottom_1"><a href="#">Curabitursodales ligula in libero</a></li>
      <li class="border_bottom_1"><a href="#">Consectetur adipiscing elit integer nec</a></li>
      <li class="border_bottom_1"><a href="#">Torquent per conubia nostra, per inceptos</a></li>
      <li class="border_none_1 b2"><a href="#">Curabitursodales ligula in libero</a></li>
     </ul>
      </div>
      </div>
    </div>
   </div>
   <div class="col-sm-12 region_main">
    <div class="col-sm-8">
       <div class="regions_2">
      <div class="stories_2">
      <div class="story_image">
       <div><a href="#"><img src="{%static "img/52.jpg" %}" width="100%"></a></div>
       <div class="story_heading"><h5><span class="tag_1"><a href="#">Lacinia arcu eget nulla Class aptent.</a></span>
<p class="p1"><a href="#">Torquent per conubia nostra, per inceptos himenaeos in ligula.</a></p>
<p class="p2"><a href="#">Sed cursus ante dapibus diam.</a> | <a href="#">Thought: Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</a></p></h5></div>
      </div>
    </div>
     </div>
    </div>
    <div class="col-sm-4">
      <div class="regions_image">
        <a href="#"><img src="{%static "img/53.jpg" %}" width="100%"></a>
        <a href="#"><h5 class="heading_1">America Trending</h5></a>
        <ul>
          <li class="border_bottom_1"><a href="#">Torquent per conubia nostra, per inceptos</a></li>
          <li class="border_none_1 b2"><a href="#">Curabitursodales ligula in libero</a></li>
       </ul>
      </div>
    </div>
   </div>
   <div class="col-sm-12 region_main">
    <div class="col-sm-8">
       <div class="regions_2">
      <div class="stories_2">
      <div class="story_image">
       <div><a href="#"><img src="{%static "img/54.jpg" %}" width="100%"></a></div>
       <div class="story_heading"><h5><span class="tag_1"><a href="#">Mauris massa Vestibulum lacinia.</a></span>
<p class="p1"><a href="#">Torquent per conubia nostra, per inceptos himenaeos in ligula.</a></p>
<p class="p2"><a href="#">Sed cursus ante dapibus diam.</a> | <a href="#">Thought: Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</a></p></h5></div>
      </div>
    </div>
     </div>
    </div>
    <div class="col-sm-4">
      <div class="regions_image">
        <a href="#"><h5>India Trending</h5></a>
        <ul>
      <li class="border_bottom_1"><a href="#">Which is universily correct and appealing</a></li>
      <li class="border_bottom_1"><a href="#">Trending context the world is in your own hand</a></li>
      <li class="border_bottom_1"><a href="#">Consectetur adipiscing elit integer nec</a></li>
      <li class="border_bottom_1"><a href="#">Fusce nec tellus sed augue semper porta.</a></li>
      <li class="border_bottom_1"><a href="#">Torquent per conubia nostra, per inceptos</a></li>
      <li class="border_bottom_1"><a href="#">Curabitursodales ligula in libero</a></li>
      <li class="border_bottom_1"><a href="#">Consectetur adipiscing elit integer nec</a></li>
      <li class="border_bottom_1"><a href="#">Fusce nec tellus sed augue semper porta.</a></li>
      <li class="border_bottom_1"><a href="#">Torquent per conubia nostra, per inceptos</a></li>
      <li class="border_bottom_1"><a href="#">Curabitursodales ligula in libero</a></li>
      <li class="border_none_1 b3"><a href="#">Elementum quis sagittis ipsum nulla quis sem.</a></li>
     </ul>
      </div>
    </div>
   </div>
   <div class="col-sm-12 region_main">
    <div class="col-sm-8">
       <div class="regions_2">
      <div class="stories_2">
      <div class="story_image">
       <div><a href="#"><img src="{%static "img/55.jpg" %}" width="100%"></a></div>
       <div class="story_heading"><h5><span class="tag_1"><a href="#">Conubia nostra, per inceptos himenaeos.</a></span>
<p class="p1"><a href="#">Torquent per conubia nostra, per inceptos himenaeos in ligula.</a></p></h5></div>
      </div>
    </div>
     </div>
    </div>
    <div class="col-sm-4">
      <div class="regions_image">
        <a href="#"><h5>British Trending</h5></a>
        <ul>
      <li class="border_bottom_1"><a href="#">Which is universily correct and appealing honest</a></li>
      <li class="border_bottom_1"><a href="#">Elementum quis sagittis ipsum nulla quis sem.</a></li>
      <li class="border_bottom_1"><a href="#">Lorem ipsum consectetur adipiscing elit</a></li>
      <li class="border_bottom_1"><a href="#">Duis sagittis ipsum. Praesent mauris sagittis</a></li>
      <li class="border_bottom_1"><a href="#">Curabitursodales ligula in libero</a></li>
      <li class="border_bottom_1"><a href="#">Consectetur adipiscing elit integer nec</a></li>
      <li class="border_bottom_1"><a href="#">Fusce nec tellus sed augue semper porta.</a></li>
      <li class="border_bottom_1"><a href="#">Torquent per conubia nostra, per inceptos</a></li>
      <li class="border_bottom_1"><a href="#">Curabitursodales ligula in libero</a></li>
      <li class="border_bottom_1"><a href="#">Elementum quis sagittis ipsum nulla quis sem.</a></li>
      <li class="border_none_1"><a href="#">Tellus sed augue semper porta massa.</a></li>
      
     </ul>
      </div>
    </div>
   </div>
   <div class="col-sm-12 region_main">
    <div class="col-sm-8">
       <div class="regions_2">
      <div class="stories_2">
      <div class="story_image">
       <div><a href="#"><img src="{%static "img/56.jpg" %}"width="100%"></a></div>
       <div class="story_heading"><h5><span class="tag_1"><a href="#">Class aptent taciti sociosqu ad litora</a></span>
<p class="p1"><a href="#">Torquent per conubia nostra, per inceptos himenaeos in ligula.</a></p></h5></div>
      </div>
    </div>
     </div>
    </div>
    <div class="col-sm-4">
      <div class="regions_image">
        <a href="#"><h5>North Trending</h5></a>
        <ul>
      <li class="border_bottom_1"><a href="#">Quis sem at nibh elementum imperdiet</a></li>
      <li class="border_bottom_1"><a href="#">Nulla quis sem at nibh imperdiet.</a></li>
      <li class="border_bottom_1"><a href="#">Which is universily correct and appealing honest</a></li>
      <li class="border_bottom_1"><a href="#">Elementum quis sagittis ipsum nulla quis sem.</a></li>
      <li class="border_bottom_1"><a href="#">Lorem ipsum consectetur adipiscing elit</a></li>
      <li class="border_bottom_1"><a href="#">Duis sagittis ipsum. Praesent mauris sagittis</a></li>
      <li class="border_bottom_1"><a href="#">Curabitursodales ligula in libero</a></li>
      <li class="border_bottom_1"><a href="#">Which is universily correct and appealing honest</a></li>
      <li class="border_none_1 b4"><a href="#">Duis sagittis ipsum. Praesent mauris sagittis</a></li>
     </ul>
      </div>
    </div>
   </div>
   <div class="col-sm-12 region_main">
    <div class="col-sm-8">
       <div class="regions_2">
      <div class="stories_2">
      <div class="story_image">
       <div><a href="#"><img src="{%static "img/57.jpg" %}" width="100%"></a></div>
       <div class="story_heading"><h5><span class="tag_1"><a href="#">Inceptos himenaeos  ligula in libero.</a></span>
<p class="p1"><a href="#">Torquent per conubia nostra, per inceptos himenaeos in ligula.</a></p><p class="p2"><a href="#">Sed cursus ante dapibus diam.</a> | <a href="#">Thought: Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</a></p></h5></div>
      </div>
    </div>
     </div>
    </div>
    <div class="col-sm-4">
      <div class="regions_image">
        <a href="#"><h5>England Trending</h5></a>
        <ul>
      <li class="border_bottom_1"><a href="#">Curabitursodales ligula in libero</a></li>
      <li class="border_bottom_1"><a href="#">Duis sagittis ipsum. Praesent mauris sagittis</a></li>
      <li class="border_bottom_1"><a href="#">Tellus sed augue semper porta massa.</a></li>
       <li class="border_bottom_1"><a href="#">Quis sem at nibh elementum imperdiet</a></li>
      <li class="border_bottom_1"><a href="#">Nulla quis sem at nibh imperdiet.</a></li>
      <li class="border_bottom_1"><a href="#">Which is universily correct and appealing honest</a></li>
      <li class="border_bottom_1"><a href="#">Elementum quis sagittis ipsum nulla quis sem.</a></li>
      <li class="border_bottom_1"><a href="#">Which is universily correct and appealing honest</a></li>
      <li class="border_bottom_1"><a href="#">Elementum quis sagittis ipsum nulla quis sem.</a></li>
      <li class="border_none_1 b5"><a href="#">Nulla quis sem at nibh imperdiet.</a></li>
     </ul>
      </div>
    </div>
   </div>
   <div class="col-sm-12 region_main">
    <div class="col-sm-8">
       <div class="regions_2">
      <div class="stories_2">
      <div class="story_image">
       <div><a href="#"><img src="{%static "img/58.jpg" %}" width="100%"></a></div>
       <div class="story_heading"><h5><span class="tag_1"><a href="#">Inceptos himenaeos  ligula in libero.</a></span>
<p class="p1"><a href="#">Torquent per conubia nostra, per inceptos himenaeos in ligula.</a></p><p class="p2"><a href="#">Sed cursus ante dapibus diam.</a> | <a href="#">Thought: Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</a></p></h5></div>
      </div>
    </div>
     </div>
    </div>
    <div class="col-sm-4">
      <div class="regions_image">
        <a href="#"><h5>Trending from UAE</h5></a>
        <ul>
      <li class="border_bottom_1"><a href="#">Class aptent taciti sociosqu ad litora</a></li>
      <li class="border_bottom_1"><a href="#">Fusce nec tellus sed augue semper porta.</a></li>
      <li class="border_bottom_1"><a href="#">Duis sagittis ipsum. Praesent mauris.</a></li>
       <li class="border_bottom_1"><a href="#">Quis sem at nibh elementum imperdiet</a></li>
      <li class="border_bottom_1"><a href="#">Nulla quis sem at nibh imperdiet.</a></li>
      <li class="border_bottom_1"><a href="#">Which is universily correct and appealing honest</a></li>
      <li class="border_bottom_1"><a href="#">Elementum quis sagittis ipsum nulla quis sem.</a></li>
      <li class="border_bottom_1"><a href="#">Which is universily correct and appealing honest</a></li>
      <li class="border_bottom_1"><a href="#">Elementum quis sagittis ipsum nulla quis sem.</a></li>
      <li class="border_none_1"><a href="#">Torquent per conubia nostra, per inceptos.</a></li>
     </ul>
      </div>
    </div>
   </div>
   <div class="col-sm-12 region_heading">
     <h2>From our Toquent</h2>
   </div>
   <div class="col-sm-12 regionheading_1">
    <div class="col-sm-4">
       <div class="stories_1">
        <a class="heading_tag" href="#"><h5>Trending Season Offers</h5></a>
     <a href="#"><img src="{%static "img/59.jpg" %}" width="100%"></a>
     <ul>
      <li class="border_bottom_1 bold_1"><a href="#">Best gift for Him - Conubia</a></li>
      <li class="border_bottom_1"><a href="#">Torquent per conubia nostra, per inceptos. </a></li>
      <li><a href="#">Class aptent taciti sociosqu ad litora</a></li>
     </ul>
     </div>
     </div>
     <div class="col-sm-4">
       <div class="stories_1">
        <a class="heading_tag" href="#"><h5>How to Find Value of Currency</h5></a>
     <a href="#"><img src="{%static "img/60.jpg" %}" width="100%"></a>
     <ul>
      <li class="border_bottom_1 bold_1"><a href="#">Best Currency Exchange</a></li>
      <li class="border_bottom_1"><a href="#">Torquent per conubia nostra, per inceptos. </a></li>
      <li><a href="#">Class aptent taciti sociosqu ad litora</a></li>
     </ul>
     </div>
     </div>
     <div class="col-sm-4">
       <div class="stories_1">
        <a class="heading_tag" href="#"><h5>Easily payments Requirements</h5></a>
     <a href="#"><img src="{%static "img/61.jpg" %}" width="100%"></a>
     <ul>
      <li class="border_bottom_1 bold_1"><a href="#">Best value of Dollar?</a></li>
      <li class="border_bottom_1"><a href="#">Torquent per conubia nostra, per inceptos. </a></li>
      <li><a href="#">Class aptent taciti sociosqu ad litora</a></li>
     </ul>
     </div>
     </div>
   </div>
   
  </div>
 </div>
</section>

{%endblock%}